

/*-------Buttons-----------*/

.btn-circle { 
            width: 100px; 
            height: 100px; 
            padding: 10px 16px; 
            border-radius: 50px; 
            font-size: 14px; 
            text-align: center; 
            background-color: rgba(26, 24, 24, 0.247);
            color:#fff;
            border: 1px solid #fff;
}


/*--------Navbar ---------*/

.navbar-custom {
    background-color: #000;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-text {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link {
    color:#fff;
}

/*----- (Not Sure about the custom border yet)
.toggler-custom.navbar-toggler {
  border-color:#fff;
} 
-------*/


/* Landing Container Style */

.landing-container {
    align-items: center;
    background: url('../images/road.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    -moz-background-size: cover;
    -webkit-background-size: cover;
     -o-background-size: cover;   
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color:#fff;
    margin-bottom: 100px;
    margin-top: 50px;
}





