

/*Buttons*/

.btn-circle { 
            background-color: rgba(26, 24, 24, 0.247);
            border: 1px solid #fff;
            border-radius: 50px;
            color:#fff; 
            font-size: 14px; 
            width: 100px; 
            height: 100px; 
            padding: 10px 16px; 
            text-align: center;                 
}


/*Navbar*/

.navbar-custom {
    background-color: #000;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-text {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link {
    color:#fff;
}

/*(Not Sure about the custom border yet)
.toggler-custom.navbar-toggler {
  border-color:#fff;
} */


/* Landing Container Style */

.landing-container {
    align-items: center;
    background: url('../images/road.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    -moz-background-size: cover;
    -webkit-background-size: cover;
     -o-background-size: cover;   
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color:#fff;
    margin-bottom: 100px;
    margin-top: 50px;
}


/* Start of the Main Body */

.company-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


